# Ignorar todo por defecto
*

# Excepto wp-content y lo que hay dentro
!wp-content/
!wp-content/themes/
!wp-content/themes/twentytwentyfour/
!wp-content/themes/twentytwentyfour-child/
!wp-content/themes/twentytwentyfour-child/**
wp-content/themes/twentytwentyfour-child/node_modules/
wp-content/themes/twentytwentyfour-child/assets/scss/*.css

!wp-content/uploads/
!wp-content/uploads/**

wp-content/plugins/
wp-content/plugins/**/

# Carpetas de sistema/caché (no son imágenes)
wp-content/uploads/cache/
wp-content/uploads/rank-math/
wp-content/uploads/siteground-optimizer-assets/
wp-content/uploads/wp-migrate-db/
wp-content/uploads/wpallexport/
wp-content/uploads/wpallimport/
wp-content/uploads/pds-web-talk/


# Videos >100MB (límite GitHub)
wp-content/uploads/2025/04/Editorial_Elisava_2024_720.mov
wp-content/uploads/2024/10/abacus-roger-sunyer-720.mov

# Plugins custom: re-incluir cada nivel (git no re-incluye si el padre está excluido)
!wp-content/plugins/
!wp-content/plugins/PDS-luge/
!wp-content/plugins/PDS-luge/**

!wp-content/plugins/PDS-Web-Talk/
!wp-content/plugins/PDS-Web-Talk/**
wp-content/plugins/PDS-Web-Talk/node_modules/

# Datos generados del corpus (no versionar: pesado + conocimiento oculto)
wp-content/pdswt-corpus/
