# Ignorar todo por defecto
*

# Excepto wp-content y lo que hay dentro
!wp-content/
!wp-content/themes/
!wp-content/themes/twentytwentyfour-child/
!wp-content/themes/twentytwentyfour-child/**
wp-content/themes/twentytwentyfour-child/node_modules/
!wp-content/uploads/2026/**
!wp-content/uploads/2025/**

!wp-content/plugins/
# Añade aquí tus plugins custom con el mismo patrón
# !wp-content/plugins/mi-plugin-custom/
# !wp-content/plugins/mi-plugin-custom/**
