# Ignorar todo por defecto
*

# Excepto el tema y plugins custom
!themes/
!themes/twentytwentyfour-child/
!themes/twentytwentyfour-child/**
!uploads/2026/**

!plugins/
# Añade aquí tus plugins custom con el mismo patrón
# !plugins/mi-plugin-custom/
# !plugins/mi-plugin-custom/**