.show .custom-cover .wp-block-cover__inner-container {
  z-index: 0 !important;
}

body.show {
  overflow: hidden;
  position: fixed;
  width: 100%;
  &:after {
    position: absolute !important;
    content:' ';
    display: block;
    background: rgb(0 0 0 / 60%);
    z-index: 5 !important;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 10 !important;
    transition: background 0.15s linear;
  }
}

.wpforms-container {
  padding: 0 !important;
}


.custom-group { 
  opacity:0;
  height: 0;
  transition: 0.2s ease-in-out;
  padding: 0;

  &.pop-up {
    height: 0;
    display: none;
  }



  .wpforms-container input.wpforms-field-medium,
  .wpforms-container select.wpforms-field-medium,
  .wpforms-container .wpforms-field-row.wpforms-field-medium {
    max-width: 100%;
  }

  .wpforms-container .wpforms-field-label {
    text-align: left;
  }

  h2.wp-block-heading {
    text-align: left;
    font-size: 2rem;
    padding-right: 3rem;
  }

  div.wpforms-container-full button[type=submit],
  div.wpforms-container-full .wpforms-page-button {
  background-color: $white !important;
  color: #000;
  float: right;
  border-radius: 0.3rem;
  }
}

.show .custom-group {
  text-align: center;
  opacity:1 !important;
  z-index: 99 !important;
  position: absolute !important;
  top: 2rem;
  left: calc(50% - 10rem);
  bottom: auto;
  right: calc(50% - 10rem);
  transform: translate(0, 0);
  background-color: #0000FF;
  padding: 1rem 1rem 1rem 1rem !important;
  height: inherit;
  width: 20rem;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.58);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.58);
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.58);
  border-radius: 1rem;

&.pop-up {
  height: auto;
  display: block;

  .wpforms-field-label-inline {
    color:#ffffff !important;
    text-align: left !important;
  }
  a {
    color:#ffffff !important;
    text-decoration: underline;
  }
  .wpforms-field-medium {
    color:#ffffff !important;
    background: #0000ff !important;
    border-bottom:1px solid $white !important;
    &::placeholder {
      color:$white !important;
    }
  }

  .wpforms-field-medium:focus {
    color:$white !important;
    border:1px solid $white !important;
    background-color: #0000ff !important;
  }

  .wpforms-submit {
    color:#0000ff !important;
  }


  div.wpforms-container-full .wpforms-confirmation-container-full,
  div[submit-success]>.wpforms-confirmation-container-full:not(.wpforms-redirection-message) {
    border: 1px solid #0000ff;
    box-sizing: border-box;
    background-color: #0000ff !important;
    color:$white !important;
  }

  div.wpforms-container-full .wpforms-confirmation-container-full p,
  div[submit-success]>.wpforms-confirmation-container-full:not(.wpforms-redirection-message) p {
    color: #ffffff;
    font-size: 1.4rem !important;
    text-align: left !important;
    background-color: #0000ff !important;
  }

  div.wpforms-container-full .wpforms-confirmation-container-full,
  div[submit-success]>.wpforms-confirmation-container-full {
    margin: 0 auto 24px;
    padding: 0;
  }
  
}

  .tancar {
    position: absolute;
    right: 1.5rem;
    top: 1.25rem;
    cursor: pointer;
    font-size: 2rem;
    font-size: 28px;
  }
}

@include tablet {

  .show .custom-group {
    left: calc(50% - 15rem);
    right: calc(50% - 15rem);
    padding: 1.3rem 2rem 2rem !important;
    width: 30rem;
  }
}


.overlay{
  display: none;
}

.show {
  position: relative;
}

/* DOWLOAD */

.download-pager {
  transition: 0.3s;

  .wpforms-container {
    display: none;
    padding: auto;
    padding: 0;
    margin: 0 0 0 1rem!important;
    width: 100%;
 

    .wpforms-form {
      position: relative;
      width:calc(100% - 124px);
      .wpforms-submit-container {
        position: absolute;
        top: 0.38rem;
        right: -108px;
        line-height: 100%;
        .wpforms-submit{
          border-radius: 0 3px 3px 0 !important;
        }
      }
    }

    .wpforms-field-container input.wpforms-field-medium,
    .wpforms-field-container select.wpforms-field-medium,
    .wpforms-field-container .wpforms-field-row.wpforms-field-medium {
      width: 100%;
      background-color: #ffffff !important;
    }

    .wpforms-field-label-inline {
      font-size: 0.8rem !important;
    }

    .wpforms-field-checkbox {
      padding: 0 0 0.75rem 0 !important;
      font-size: 0.8rem !important;
    }


    .wpforms-field-medium {
      border:0.1rem solid gray;
      height:2.57rem;
      margin:1px 0 0;
      line-height: 98%;
      padding-left: 0.5rem;
      font-size: 1rem;
      &::placeholder {
        color:gray;
        font-size: 1rem;
      }
    }

    a {
      color: $black;
      text-decoration: underline;
    }
  }

  &.display-box {
    background-color: $white;
    border-radius: 0.3rem;
    float: left;
    max-width: 26rem;
    width: 100%;
    .wpforms-container {
      display: block;
    }
    .clickPager {
      display: none;
    }
  }
}


